

.footer-top {
  background: linear-gradient(to bottom, rgba(243, 171, 171, 0.9), rgba(247, 247, 11, 0.8)); 
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  margin-top: 50px;
}

  
  .footer-top h2 {
    margin-bottom: 10px;
  }
  
  .footer-top p {
    margin-bottom: 15px;
  }
  
  .footer-top input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 80%; 
    max-width: 300px;
    margin-right: 10px; 
  }
  
  .footer-top button {
    padding: 10px 15px; 
    background-color: #2980b9; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .footer-top button:hover {
    background-color: #3498db; 
  }
  









/* 
footer top section ends here  */






.footer-section {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-image {
  width: 120px;
  height: auto;
  margin: 10px 0;
  margin-left: 600px;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.footer-content h2 {
  margin-bottom: 10px;
}

.footer-content p {
  margin: 0 0 10px;
}

.footer-content input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #ecf0f1;
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }
}
