.nav-bar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .nav-bar img {
    height: 50px;
    margin-right: 500px;
    
  }
  
  .nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px; 
    padding: 0;
    margin: 0;
  }
  
  .nav-bar ul li {
    cursor: pointer;
    font-size: 18px; 
    font-weight: 500; 
  }
  
  .nav-bar ul li:hover {
    color: #007bff; 
  }
  
  .nav-bar p {
    font-size: 16px;
    font-weight: bold;
    border: 2px solid skyblue;
    padding: 10px;
    border-radius: 10px;
  }
  


  /* banner section   start */

  .banner-section {
    background-image: 
      radial-gradient(circle, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0) 100%),
      url('../assets/bg-shadow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 430px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    color: white;
    text-align: center; 
   
  }
  
  .banner-image {
    position: absolute; 
    margin-top: 100px;
  
    width: 20%; 
    height: 50%; 
    object-fit: cover; 
    transform: translate(-50%, -50%);
  
  }
  
  .banner-content {
    position: relative; 
    z-index: 2; 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .banner-title {
    font-size: 24px; 
    font-weight: bold; 
    margin: 10px 0;
  }
  
  .banner-subtitle {
    font-size: 18px; 
    margin: 10px 0;
  }
  


  

  /* banner section   ends */